[submodule "rpipico/CMSIS_lib/CMSIS-DSP"]
	path = rpipico/CMSIS_lib/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
[submodule "rpipico/CMSIS_lib/CMSIS"]
	path = rpipico/CMSIS_lib/CMSIS
	url = git@github.com:ARM-software/CMSIS_6.git
